@import url('https://fonts.googleapis.com/css2?family=Saira+Condensed&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: inherit;
    color: inherit;
    
}
.Start{
    background-color: #303030;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding:1rem;
    font-family: 'Saira Condensed';
    font-style: normal;
    font-weight: 600;
    font-size: 35px;
    line-height: 45px;
    color: #FFFF;
}
.heading{
    position: absolute;
    width: 746px;
    height: 111px;
    left: 600px;
    top: 10px; 
    font-family: 'Saira Condensed';
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 101px;
    text-align: center;
    text-transform: uppercase;

color: #FFFFFF;
}
.logo{
    width: 9vw;
    height: 19vh;
    display: flex;
    justify-content: flex-start;
}
.Pages{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 150px;
    
    position: absolute;
    width: 826px;
    height: 56px;
    left: 570px;
    top: 150px;
    color: #FFFFFF;
}
.Pages a:hover
{
    color:goldenrod;
    transition: 0.2s;
}
.Sign-Up{
    width:200px;
}
.robot-{
    position: absolute;
    width: 250px;
    height: 320px;
    left: 430px;
    top: 320px;
    background: url(robot.jpg);
}
.text{
    position: absolute;
    width: 560px;
    height: 368px;
    left: 1000px;
    top: 335px;
    font-family: 'Saira Condensed';
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 55px;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.81);
}
.rectangle{
    position: absolute;
    width: 20px;
    height: 426px;
    left: 960px;
    top: 320px;
    background-color:#303030;
}
.twitter-logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    position: absolute;
    width: 190px;
    height: 87.79px;
    left: 1700px;
    top: 900px;
}
.instagram-logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    position: absolute;
    width: 190px;
    height: 87.79px;
    left: 1800px;
    top: 900px;
}
.bottom{
    position: absolute;
    width: 100%;
    height: 290px;
    top: 1000px;
    background-color: #303030;
}
.Question{
    position: absolute;
    width: 400px;
    height: 175px;
    left: 400px;
    top: 50px;
    font-family: 'Saira Condensed';
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 20px;
    text-transform: uppercase;
    color: #FFFFFF;

}
